{% extends 'main.html' %}

{% block content %}
<form name="form-users" id="formUsers" method="post" action="/store/">
    <div class="col-6 mt-4 m-auto">
        {% if msg %}
        <div class="alert {{class}}">
            {{msg}}
        </div>
        {% endif %}


        {% csrf_token %}

        <div class="container py-10 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h2 class="fw-bold mb-2 text-uppercase text-center">Create an Account</h2>
                            <p class="text-white-50 mb-5 text-center">Enter your details below</p>

                            
                            
                                <input class="form-control mt-4" type="text" name="name" id="name" placeholder="Nome ">
                                <input class="form-control mt-4" type="text" name="user" id="user"
                                    placeholder="Nome do Usuário ">
                                <input class="form-control mt-4" type="password" name="password" id="password"
                                    placeholder="Senha ">
                                <input class="form-control mt-4" type="password" name="password-conf" id="password-conf"
                                    placeholder="Repita a Senha ">
                                <input class="form-control mt-4" type="text" name="email" id="email" placeholder="Email ">
                                <!-- <i><img src="./images/success-icon.svg" alt=""></i>
                                <i><img src="./images/error-icon.svg" alt=""></i>
                                <small>Error Message</small> -->
                            
                            <input class="btn btn-primary mt-4" type="submit" value="Cadastrar">
                            <a href="/painel" class="btn btn-primary mt-4">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>    
</form>
{% endblock %}