{% extends 'main.html' %}

{% block content %}
{% if request.user.is_authenticated %}

<div class="col-12 mt-4 m-auto">
<div class="container py-10 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="col-8 m-auto pt-6 pb-6 text-white ">
                        <div class=" bg-dark p-2 text-white bg-opacity-75">
                            <h1>Lista de Cursos</h1><br>
                        </div>
                        
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Curso</th>
                                    <th scope="col">Tempo de Duração</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dbs in db %}
                                <tr>
                                    <th scope="row" id="linhaID" class="text-white">{{dbs.id}}</th>
                                    <td class="text-white">{{dbs.curso}}</td>
                                    <td class="text-white">{{dbs.tempoD}}</td>
                                    <td>
                                        <a href="/edit/{{dbs.id}}/" class="btn btn-primary" >Editar</a>
                                        <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                                    </td>
                                </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}

    </tbody>
    </table>

    <a href="/logouts/" class="btn btn-primary">Logout</a>

    <a href="/form" class="btn btn-primary">Novo Curso</a>
</div>
</div>

{% else %}
<div class="text-center">
    <h1>Você não tem acesso a essa área!</h1>
</div>
{% endif %}

{% endblock %}