{% extends 'main.html' %}

{% block content %}
    <a href ="/create/">Cadastro de Usuários</a><br>
    <a href ="/painel/">Painel de Login</a>
{% endblock %}















<!-- <body>
    <div class="col-8 m-auto pt-2 pb-2">
        <div class="col- m-auto pt-2 pb-2 bg-dark p-2 text-white bg-opacity-75">
            <h1>Cadastro de Usuário</h1>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
            <div class="col-md-6 ">Tamanho dos campos
        <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="prependedtext" name="prependedtext" class="form-control" placeholder="email@email.com" required="" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
            </div>

            
            <div  class =" form-group col-md - 6 pt-3  " >
            <label  for =" Password " > Senha </label>
            <input  type =" password " class =" form-control " id =" inputPassword4 " placeholder =" Digite sua senha " obrigatório >
            </div>
           
            <div class="col-md- 6 pt-3">
            <label  for =" confPassword " > Confirme sua senha </label>
            <input  type =" password " class =" form-control " id =" inputPassword4 " placeholder =" Digite novamente sua senha" obrigatório >
            </div>
            </div>

        <div class="col-md  m-auto pt-3 pb-2">
            <a href="/login" class="btn btn-secondary">Voltar</a>
            
            <a href="/login" class="btn btn-primary">Cadastrar</a>
        </div>
        </div>
    </div>
</body> -->
