{% extends 'main.html' %}

{% block content %}
<form name="form-painel" id="formPainel" method="post" action="/dologin/">
    <div class="col-6 mt-4 m-auto">



        {% csrf_token %}

        <div class="container py-10 h-100 mt-8">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-9 col-xl-7">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            {% if msg %}
                            <div class="alert {{class}}">
                                {{msg}}
                            </div>
                            {% endif %}
                            <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
                            <p class="text-white-50 mb-5 text-center">Please enter your login and password!</p>
                            <input class="form-control mt-4" type="text" name="user" id="user"
                                placeholder="Nome do Usuário: ">
                            <input class="form-control mt-4" type="text" name="password" id="password"
                                placeholder="Senha: "><br>

                            <input class="btn btn-outline-light btn-lg px-5 mt-8" type="submit" value="Entrar">
                            </p><br>
                            <p class="mb-0 ">Don't have an account?
                                <a href="/create" class="text-white-50 fw-bold">Sign Up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}